<a href="https://colab.research.google.com/github/JuanDlog/Python_Data_Science/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('¡Hola mundo!')

¡Hola mundo!

In [ ]:
15

15

In [ ]:
print('Mi nombre es Juan Diego y me gusta la ciencia de datos')

Mi nombre es Juan Diego y me gusta la ciencia de datos

In [ ]:
print('Escuela de Datos de Alura')
print('Nombre: Juan Diego')
print('Apellido: Jaramillo Taborda')
print('J')
print('U')
print('A')
print('N')
print(29, 'Enero', 2005)
print('Año actual:', 2025)

Escuela de Datos de Alura
Nombre: Juan Diego
Apellido: Jaramillo Taborda
J
U
A
N
29 Enero 2005
Año actual: 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

10750984

In [ ]:
edad = 5

In [ ]:
print(id(edad))
print(id(5))

10750984
10750984

In [ ]:
numerocinco = 5

In [ ]:
id(numerocinco)

10750984

In [ ]:
nombre = 'Juan'

In [ ]:
id('Juan')

137061400564208

In [ ]:
id(nombre)

137061400564208

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type(promedio)

float

In [ ]:
nombre = 'Juan'
type(nombre)

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penélope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado = True

print(nombre_estudiante, edad_estudiante, promedio_estudiante, aprobado)
print(type(nombre_estudiante), type(edad_estudiante), type(promedio_estudiante), type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_salarios = (c_vigilante * s_vigilante + c_docente * s_docente
                     + c_coordinador * s_coordinador) / total_empleados
promedio_salarios

465.2173913043478

In [ ]:
type(promedio_salarios)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

137060799769584

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

137060799769584

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y', 't').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
137060799769584 137060800047072

In [ ]:
texto = texto.strip().replace('y', 't').upper()
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
137060799655936 137060800047072

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('Escribe tu nombre: ')

Escribe tu nombre:Juan

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input('Digita el año de admisión: '))

Digita el año de admisión: 2023

In [ ]:
type(ano_admision)

int

In [ ]:
nota_admision = float(input('Digita la nota de admisión: '))

Digita la nota de admisión: 9.6

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de admisión fue {ano_admision} \n\tLa nota de admisión fue: {nota_admision}')

	El año de admisión fue 2023
	La nota de admisión fue: 9.6

## Desafio 2

In [ ]:
# 1, 2, 3
nombre = input('Escribe tu nombre: ')
edad = int(input('Escribe tu edad: '))
altura = float(input('¿Cual es tu altura en metros?: '))

print(f'Hola, {nombre}, tienes {edad} y mides {altura} metros')

Escribe tu nombre: Juan
Escribe tu edad: 20
¿Cual es tu altura en metros?: 1.68
Hola, Juan, tienes 20 y mides 1.68 metros

In [ ]:
# 4, 5
x = int(input('Dame el valor de X: '))
y = int(input('Dame el valor de Y: '))
b = int(input('Dame el valor de B: '))

print(f'{x} + {y} + {b} = {x + y + b}')

Dame el valor de X: 2
Dame el valor de Y: 2
Dame el valor de B: 2
2 + 2 + 2 = 6

In [ ]:
# 6, 7
x = int(input('Dame el valor de X: '))
y = int(input('Dame el valor de y: '))

print('#6 {} - {} = {}' .format(x, y, x - y))
print('#7 %d * %d = %s' %(x, y, x * y))

Dame el valor de X: 2
Dame el valor de y: 2
#6 2 - 2 = 0
#7 2 * 2 = 4

In [ ]:
# 8
x = int(input('Dame el valor del numerador: '))
y = int(input('Dame el valor del demonidador: '))

while y == 0:
    print('No se puede dividir por cero')
    y = int(input('Dame el valor del demonidador: '))
print(f'{x} / {y} = {x / y}')

Dame el valor del numerador: 10
Dame el valor del demonidador: 0
No se puede dividir por cero
Dame el valor del demonidador: 2
10 / 2 = 5.0

In [ ]:
# 9
x = int(input('Dame el valor del operador: '))
y = int(input('Dame el valor de la potencia: '))

print(f'{x} ** {y} = {x**y}')

Dame el valor del operador: 2
Dame el valor de la potencia: 3
2 ** 3 = 8

In [ ]:
# 10
x = int(input('Dame el valor del numerador: '))
y = int(input('Dame el valor del demonidador: '))

while y == 0:
    print('No se puede dividir por cero')
    y = int(input('Dame el valor del demonidador: '))
print(f'{x} / {y} = {x // y}')

Dame el valor del numerador: 10
Dame el valor del demonidador: 0
No se puede dividir por cero
Dame el valor del demonidador: 2
10 / 2 = 5

In [ ]:
# 11
x = int(input('Dame el valor del numerador: '))
y = int(input('Dame el valor del demonidador: '))

while y == 0:
    print('No se puede dividir por cero')
    y = int(input('Dame el valor del demonidador: '))
print(f'{x} / {y} = {x / y} y el resto de la division es {x % y}')

Dame el valor del numerador: 10
Dame el valor del demonidador: 3
10 / 3 = 3.3333333333333335 y el resto de la division es 1

In [ ]:
# 12
Nota1 = float(input('Dame la Nota 1: '))
Nota2 = float(input('Dame la Nota 2: '))
Nota3 = float(input('Dame la Nota 3: '))

print(f'El promedio de las notas es {(Nota1 + Nota2 + Nota3) / 3}')

Dame la Nota 1: 2
Dame la Nota 2: 4
Dame la Nota 3: 2
El promedio de las notas es 2.6666666666666665

In [ ]:
#13

numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

sumaProductos = 0
sumaPesos = 0

for i in range(len(numeros)):
  sumaProductos += numeros[i] * pesos[i]
  sumaPesos += pesos[i]

print(sumaProductos / sumaPesos)

14.9

In [ ]:
#14

frase = '"La vida es un caramelo agrio"'

print(frase)

"La vida es un caramelo agrio"

In [ ]:
#15

frase = input('Escriba una frase: ')
print('"', frase, '"')

Escriba una frase: Eres hermosa como una flor
" Eres hermosa como una flor "

In [ ]:
#16

frase = input('Escriba una frase: ')
print(f'"{frase.upper()}"')

Escriba una frase: Soy lindo
"SOY LINDO"

In [ ]:
#17

frase = input('Escriba una frase: ')
print(f'"{frase.lower()}"')

Escriba una frase: La vida es bella
"la vida es bella"

In [ ]:
#18

frase = ' "Cada ves que no lo intentas, te alejas mas del exito" '
print(frase.strip())

"Cada ves que no lo intentas, te alejas mas del exito"

In [ ]:
#19, 20, 21, 22, 23

frase = input('Escriba una frase: ')
print(' #19, 20, 21 "{}" '.format(frase.lower().strip().replace('e', 'f')))
print('#22 "{}"' .format(frase.replace('a', '@').replace('A', '@')))
print('#23 "{}"' .format(frase.replace('s', '$').replace('S', '$')))

Escriba una frase: La vida ES hermosa
 #19, 20, 21 "la vida fs hfrmosa"
#22 "L@ vid@ ES hermos@"
#23 "La vida E$ hermo$a"

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7 y 10 == nota de aprobación >= 7
# Nota de reprobaciòn es menor a 7 == nota de reprobacion < 7
"""
Si la nota es mayor o igual a 7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a 7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print('La condición es Verdadero')

Verdadero

In [ ]:
if 2 > 7:
  print('La condicion es verdadera.')
print('Fin de la consulta.')

Fin de la consulta.

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa')
print('Fin de la consulta.')

La condicion es falsa
Fin de la consulta.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Digita la nota:'))

if nota >= 7:
  print('Aprobo')
if 7 > nota >= 5:
  print('Recuperacion.')
else:
  print('Reprobo')

SyntaxError: expected ':' (<ipython-input-16-4055f13026d8>, line 5)

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Digita la nota:'))

if nota >= 7:
  print('Aprobo')
elif 7 > nota >= 5:
  print('Recuperacion.')
else:
  print('Reprobo')

Digita la nota:7
Aprobo

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if f and f:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')

La condicion es falsa.

In [ ]:
if v or v:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')

La condicion es verdadera.

In [ ]:
if not f:
  print('La condicion es verdadera.')
else:
  print('La condicion es falsa.')

La condicion es verdadera.

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print('El estudiante aprobo.')
else:
  print('El estudiante reprobó')

El estudiante aprobo.

In [ ]:
if nombre_2 in lista:
  print('El estudiante aprobo.')
else:
  print('El estudiante reprobó')

El estudiante reprobó

In [ ]:
# Desafio 3

# 1

Numero1 = int(input('Dame el primer numero: '))
Numero2 = int(input('Dame el segundo numero: '))

if Numero1 > Numero2:
  print('El {} es mayor que el {}' .format(Numero1, Numero2))
else:
  print('El {} es mayor que el {}' .format(Numero2, Numero1))

Dame el primer numero:2
Dame el segundo numero:7
El 7 es mayor que el 2

In [ ]:
# 2

porcentaje = float(input('Escribe el porcentaje de crecimiento de la empresa'))

if porcentaje >= 55:
  print('La empresa a crecido ')
elif porcentaje >= 50:
  print('La empresa a igualado ')
else:
  print('La empresa a disminuido ')

KeyboardInterrupt: Interrupted by user

In [ ]:
# 3

listaVocal = 'A, E, I, O, U, a, e, i, o, u'

letra = input('Escribe una letra: ')

if letra in listaVocal:
  print('La letra {} es una vocal' .format(letra))
else:
  print('La letra {} es una consonante' .format(letra))

Escribe una letra: B
La letra B es una consonante

In [ ]:
# 4

año1 = float(input('Escribe el valor del año 1: '))
año2 = float(input('Escribe el valor del año 2: '))
año3 = float(input('Escribe el valor del año 3: '))

if año1 > año2 and año1 > año3:
  print('El año 1 tuvo el valor más alto: {}' .format(año1))
  if año2 > año3:
    print('El año 3 tuvo el valor más bajo {}' .format(año3))
  else:
    print('El año 2 tuvo el valor más bajo {}' .format(año2))

elif año2 > año1 and año2 > año3:
  print('El año 2 tuvo el valor más alto: {}' .format(año2))
  if año1 > año3:
    print('El año 3 tuvo el valor más bajo {}' .format(año3))
  else:
    print('El año 1 tuvo el valor más bajo {}' .format(año1))

else:
  print('El año 3 tuvo el valor más alto: {}' .format(año3))
  if año1 > año2:
    print('El año 2 tuvo el valor más bajo {}' .format(año2))
  else:
    print('El año 1 tuvo el valor más bajo {}' .format(año1))

Escribe el valor del año 1: 88
Escribe el valor del año 2: 99
Escribe el valor del año 3: 100
El año 3 tuvo el valor más alto: 100.0
El año 1 tuvo el valor más bajo 88.0

In [ ]:
# 5


producto1 = float(input('Escribe el valor del producto 1: '))
producto2 = float(input('Escribe el valor del producto 2: '))
producto3 = float(input('Escribe el valor del producto 3: '))

if producto1 < producto2 and producto1 < producto3:
  print('El producto 1 es el más barato para comprar: ${}' .format(producto1))

elif producto2 < producto1 and producto2 < producto3:
  print('El producto 2 es el más barato para comprar: ${}' .format(producto2))

else:
  print('El producto 3 es el más barato para comprar: ${}' .format(producto3))

Escribe el valor del producto 1: 9
Escribe el valor del producto 2: 22
Escribe el valor del producto 3: 1
El producto 3 es el más barato para comprar: $1.0

In [ ]:
# 6

numero1 = float(input('Escribe el valor del numero 1: '))
numero2 = float(input('Escribe el valor del numero 2: '))
numero3 = float(input('Escribe el valor del numero 3: '))

if numero1 < numero2 and  numero1 < numero3:
  print(numero1)
  if numero2 < numero3:
    print(numero2)
    print(numero3)
  else:
    print(numero3)
    print(numero2)

elif numero2 < numero1 and  numero2 < numero3:
  print(numero2)
  if numero1 < numero3:
    print(numero1)
    print(numero3)
  else:
    print(numero3)
    print(numero1)

else:
  print(numero3)
  if numero1 < numero2:
    print(numero1)
    print(numero2)
  else:
    print(numero2)
    print(numero1)

Escribe el valor del numero 1: 7
Escribe el valor del numero 2: 1
Escribe el valor del numero 3: 5
1.0
5.0
7.0

In [ ]:
# 7

turno = input('Escribe en que turno estudias: ')

if turno == 'mañana' or turno == 'Mañana' or turno == 'MAÑANA':
  print('¡Buenos Días!')
elif turno == 'tarde' or turno == 'Tarde' or turno ==  'TARDE':
  print('¡Buenas Tardes!')

elif turno == 'noche' or turno == 'Noche' or turno == 'NOCHE':
  print('¡Buenas Noches!')

else:
  print('Turno Invalido')

Escribe en que turno estudias: Tarde
¡Buenas Tardes!

In [ ]:
# 8

numero = int(input('Escribe un numero entero: '))

if numero % 2 == 0:
  print('El numero {} es par' .format(numero))
else:
  print('El numero {} es impar' .format(numero))

Escribe un numero entero: 4
El numero 4 es par

In [ ]:
# 9

numero = input('Escribe un numero: ')

if '.' in numero:
  numero = float(numero)
  print('El numero {} es decimal' .format(numero))

elif int(numero):
 print('El numero {} es entero' .format(numero))

SyntaxError: invalid syntax (<ipython-input-105-98bf45a0e83b>, line 11)

In [ ]:
#10

numero1 = input('Escribe el primer numero:'))
numero2 = input('Escribe el segundo numero:'))
operacion = int(input('Escribe la operacion que quieras realizar:\n1. Suma\n2. Resta \n3. Multiplicación\n4. División\n'))


if operacion == 1:
  resultado = numero1 + numero2

  print('El resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))

if resultado % 2 == 0:
    print('El resultado es par')
else:
    print('El resultado es impar')

if resultado > 0:
    print('El resultado es positivo')
else:
      print('El resultado es negativo')


if '.' in resultado:
    resultado = float(resultado)

elif int(resultado):
    resultado = int(resultado)

Escribe el primer numero:1
Escribe el segundo numero:2
Escribe la operacion que quieras realizar:
1. Suma
2. Resta
3. Multiplicación
4. División
1
El resultado de la suma de 1.0 + 2.0 es: 3.0
El resultado es impar
El resultado es positivo
f

In [ ]:
#10

numero1 = float(input('Escribe el primer numero: '))
numero2 = float(input('Escribe el segundo numero: '))
operacion = int(input('Escribe la operacion que quieras realizar:\n1. Suma\n2. Resta \n3. Multiplicación\n4. División\n'))

if numero1.is_integer():
    numero1 = int(numero1)
else:
  numero1 = float(numero1)

if numero2.is_integer():
    numero2 = int(numero2)
else:
  numero2 = float(numero2)

if operacion == 1:
  resultado = numero1 + numero2
  if type(resultado) == int or resultado.is_integer():
    resultado = int(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))
  else:
    resultado = float(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))

if operacion == 2:
  resultado = numero1 - numero2
  if type(resultado) == int or resultado.is_integer():
    resultado = int(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))
  else:
    resultado = float(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))

if operacion == 3:
  resultado = numero1 * numero2
  if type(resultado) == int or resultado.is_integer():
    resultado = int(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))
  else:
    resultado = float(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))

if operacion == 4:
  resultado = numero1 / numero2
  if type(resultado) == int or resultado.is_integer():
    resultado = int(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))
  else:
    resultado = float(resultado)
    print(' \nEl resultado de la suma de {} + {} es: {}' .format(numero1, numero2, resultado))

if resultado % 2 == 0:
    print('El resultado es PAR')
else:
    print('El resultado es IMPAR')

if resultado > 0:
    print('El resultado es POSITIVO')
else:
      print('El resultado es NEGATIVO')


if type(resultado) == int or resultado.is_integer():
    print('El resultado es ENTERO')
else:
  print('El resultado es DECIMAL')

Escribe el primer numero: 44
Escribe el segundo numero: 2
Escribe la operacion que quieras realizar:
1. Suma
2. Resta
3. Multiplicación
4. División
4

El resultado de la suma de 44 + 2 es: 22
El resultado es PAR
El resultado es POSITIVO
El resultado es ENTERO

In [ ]:
#11

lado1 = float(input('Escribe el valor del lado 1: '))
lado2 = float(input('Escribe el valor del lado 2: '))
lado3 = float(input('Escribe el valor del lado 3: '))

resultado = lado1 + lado2

if resultado > lado3:
  if lado1 == lado2 and lado1 == lado3:
    print('El triangulo es EQUILATERO')
  elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
      print('El triangulo es ISÓSCELES')
  else:
     print('El triangulo es ESCALENO')
else:
  print('Triangulo no valido')

Escribe el valor del lado 1: 3
Escribe el valor del lado 2: 4
Escribe el valor del lado 3: 6
El triangulo es ESCALENO

In [ ]:
#12

combustible = input('Escribe el tipo de combustible a comprar:\n (E)Etanol\n (D)Diésel\n')
litros = float(input('Escribe la cantidad de litros que quieras comprar: '))

if combustible == 'E' or combustible == 'e':
  precio = 1.70
  if litros <= 15:
    descuento = 2
  else:
    descuento = 4

if combustible == 'D' or combustible == 'd':
    precio = 2.00
    if litros <= 15:
      descuento = 3
    else:
      descuento = 5

valorLitros = ((litros*precio)*descuento)/100
valorLitros = (litros*precio)-valorLitros
print('Litros: {}   Precio por litro: ${}\nPrecio Total: ${} - Descuento {}%\n---------------------------\nVALOR FINAL A PAGAR: ${}' .format(litros, precio, litros*precio, descuento, valorLitros))

Escribe el tipo de combustible a comprar:
 (E)Etanol
 (D)Diésel
e
Escribe la cantidad de litros que quieras comprar: 15
Litros: 15.0   Precio por litro: $1.7
Precio Total: $25.5 - Descuento 2%
---------------------------
VALOR FINAL A PAGAR: $24.99

In [ ]:
# 13

ventas2022 = float(input('Escribe la cantidad de ventas del año 2022: '))
ventas2023 = float(input('Escribe la cantidad de ventas del año 2023: '))

variacionPorcentual = ((ventas2023 - ventas2022)/ventas2022)*100

if variacionPorcentual > 20:
  print('\nVariacion Porcentual 2022 y 2023: {}%\nPor una variacion superior al 20%, El equipos de ventas obtendran una bonificación en los proximos días' .format(variacionPorcentual))
elif variacionPorcentual >= 2:
  print('\nVariacion Porcentual 2022 y 2023: {}%\nPor una variacion entre 2% y 20%, El equipos de ventas obtendran una pequeña bonificación en los proximos días' .format(variacionPorcentual))
elif variacionPorcentual >= -10:
  print('\nVariacion Porcentual 2022 y 2023: {}%\nPor una variacion entre 2% y el -10%, Se esta haciendo una planificacion de polìticas de incentivo a las ventas' .format(variacionPorcentual))
else:
  print('\nVariacion Porcentual 2022 y 2023: {}%\nHabran recortes de gastos por variacion porcentual inferior a -10%' .format(variacionPorcentual))

Escribe la cantidad de ventas del año 2022: 200
Escribe la cantidad de ventas del año 2023: 197

Variacion Porcentual 2022 y 2023: -1.5%
Por una variacion entre 2% y el -10%, Se esta haciendo una planificacion de polìticas de incentivo a las ventas

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
print('El promedio del estudiante 1 es {}' .format((nota_1+nota_2)/2))

nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
print('El promedio del estudiante 2 es {}' .format((nota_1+nota_2)/2))

nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
print('El promedio del estudiante 3 es {}' .format((nota_1+nota_2)/2))

Digita la primera nota: 4
Digita la segunda nota: 6
El promedio del estudiante 1 es 5.0
Digita la primera nota: 5
Digita la segunda nota: 3
El promedio del estudiante 2 es 4.0
Digita la primera nota: 6
Digita la segunda nota: 5
El promedio del estudiante 3 es 5.5

In [ ]:
6536.5
8.5

8.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  # contador = contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digita la primera nota: '))
  nota_2 = float(input('Digita la segunda nota: '))
  print('El promedio del estudiante {} es {}' .format(contador, (nota_1+nota_2)/2))
  contador += 1

Digita la primera nota: 8.5
Digita la segunda nota: 5.7
El promedio del estudiante 1 es 7.1

Digita la primera nota: 6.5
Digita la segunda nota: 10
El promedio del estudiante 2 es 8.25

Digita la primera nota: 9
Digita la segunda nota: 7
El promedio del estudiante 3 es 8.0

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1, 11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota_1 = float(input('Digita la primera nota: '))
  nota_2 = float(input('Digita la segunda nota: '))
  print('El promedio del estudiante {} es {}\n' .format(e, (nota_1+nota_2)/2))

Digita la primera nota: 7
Digita la segunda nota: 8
El promedio del estudiante 1 es 7.5

Digita la primera nota: 4
Digita la segunda nota: 5
El promedio del estudiante 2 es 4.5

Digita la primera nota: 2
Digita la segunda nota: 4
El promedio del estudiante 3 es 3.0

In [ ]:
#1

n1 = int(input('Ingrese el primer numero: '))
n2 = int(input('Ingrese el segundo numero: '))

for i in range(n1, n2+1):
  print(i)

Ingrese el primer numero: 22
Ingrese el segundo numero: 34
22
23
24
25
26
27
28
29
30
31
32
33
34

In [ ]:
#2

coloniaA = 4
coloniaB = 10
dias = 0

while coloniaA < coloniaB:

  porcentajeA = (coloniaA*3)/100
  coloniaA = coloniaA + porcentajeA

  porcentajeB = (coloniaB*1.5)/100
  coloniaB = coloniaB + porcentajeB

  dias += 1

print('La colonia A demora {} días para superar la colinia B' .format(dias))
print('Colonia A {}\nColonia B {}' .format(coloniaA, coloniaB))

La colonia A demora 63 días para superar la colinia B
Colonia A 25.751655140298336
Colonia B 25.548220848111153

In [ ]:
#3

for i in range(1, 16):
  valor = float(input('Evaluación #{}: ' .format(i)))
  while valor > 5 or valor < 0:
    print('\nValor Invalido')
    valor = float(input('\nEvaluación #{}: ' .format(i)))

Evaluación #1: 4
Evaluación #2: 3
Evaluación #3: 2
Evaluación #4: 5
Evaluación #5: 4
Evaluación #6: 3
Evaluación #7: 2
Evaluación #8: 1
Evaluación #9: 3
Evaluación #10: 4
Evaluación #11: 3
Evaluación #12: 2
Evaluación #13: 1
Evaluación #14: 4
Evaluación #15: 3

In [ ]:
#4

temCelsius = float(input('Escibe temperatura en grados Celsius: '))
veces = 0
suma = 0

while -273 != temCelsius:

 veces +=1
 suma += temCelsius
 promedioTemperatura = suma / veces
 print('Promedio: {}ºC' .format(promedioTemperatura))
 temCelsius = float(input('\nEscribe temperatura en grados Celsius: '))

Escibe temperatura en grados Celsius: 55
Promedio: 55.0ºC

Escribe temperatura en grados Celsius: 22
Promedio: 38.5ºC

Escribe temperatura en grados Celsius: 44
Promedio: 40.333333333333336ºC

Escribe temperatura en grados Celsius: -77
Promedio: 11.0ºC

Escribe temperatura en grados Celsius: -272
Promedio: -45.6ºC

Escribe temperatura en grados Celsius: -273

In [ ]:
#5

numeroFactorial = int(input('Escribe un numero entero para calcular su factorial: '))
factorial = numeroFactorial-1
resultado = numeroFactorial

for i in range(1, numeroFactorial):
  if 1 != factorial:
    resultado = resultado * factorial
    factorial -= 1

print('El factorial de {} es {}' .format(numeroFactorial, resultado))

Escribe un numero entero para calcular su factorial: 5
El factorial de 5 es 120

In [ ]:
#6

numeroEntero = int(input('Escribe un numero entero para generar su tabla de multiplicar: '))

for i in range(1, 11):

  print('{} x {} = {}' .format(numeroEntero, i, numeroEntero*i))

Escribe un numero entero para generar su tabla de multiplicar: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#7

numeroPrimo = int(input('Escribe un numero entero para saber si es primo: '))

if numeroPrimo < 1:
  print('El numero {} no es primo' .format(numeroPrimo))

else:
  el_primo = True
  for i in range(2, int(numeroPrimo**0.5)+1):
    if numeroPrimo % i == 0:
      el_primo = False

if el_primo:
  print('El numero {} es primo' .format(numeroPrimo))
else:
  print('El numero {} no es primo' .format(numeroPrimo))

Escribe un numero entero para saber si es primo: 4
El numero 4 no es primo

In [ ]:
#8

entradaEdad = int(input('Escribe la edad de un pensionista: '))
contador1 = 0
contador2 = 0
contador3 = 0
contador4 = 0

while entradaEdad >= 0:

  if entradaEdad >= 0 and entradaEdad <= 25:
    contador1 += 1
    print('\nLa edad se encuntra dentro del rango de 0 a 25 años')
    entradaEdad = int(input('\nEscribe la edad de un pensionista: '))

  elif entradaEdad > 25 and entradaEdad <= 50:
    contador2 += 1
    print('\nLa edad se encuntra dentro del rango de 26 a 50 años')
    entradaEdad = int(input('\nEscribe la edad de un pensionista: '))

  elif entradaEdad > 50 and entradaEdad <= 75:
    contador3 += 1
    print('\nLa edad se encuntra dentro del rango de 51 a 75 años')
    entradaEdad = int(input('\nEscribe la edad de un pensionista: '))

  elif entradaEdad > 75 and entradaEdad <= 100:
    contador4 += 1
    print('\nLa edad se encuntra dentro del rango de 76 a 100 años')
    entradaEdad = int(input('\nEscribe la edad de un pensionista: '))

  else:
    print('\nLa edad no se encuentra en ninguna de las distribuciones')
    entradaEdad = int(input('\nEscribe la edad de un pensionista: '))

print('\nDISTRIBUCION TOTAL:\nRango de 0 a 25 años: {}\nRango de 26 a 50 años: {}\nRango de 51 a 75 años: {}\nRango de 76 a 100 años: {}' .format(contador1, contador2, contador3, contador4))

Escribe la edad de un pensionista: 4

La edad se encuntra dentro del rango de 0 a 25 años

Escribe la edad de un pensionista: 3

La edad se encuntra dentro del rango de 0 a 25 años

Escribe la edad de un pensionista: 2

La edad se encuntra dentro del rango de 0 a 25 años

Escribe la edad de un pensionista: -5

DISTRIBUCION TOTAL:
Rango de 0 a 25 años: 3
Rango de 26 a 50 años: 0
Rango de 51 a 75 años: 0
Rango de 76 a 100 años: 0

In [ ]:
#9

voto1 = 0
voto2 = 0
voto3 = 0
voto4 = 0
voto5 = 0
voto6 = 0

for i in range(1, 20+1):
  print('\nEmpleado #{}' .format(i))
  votoEmpleado = int(input('Para votar escribe el numero respectivo de tu cantidato:\n1. Candidado A\n2. Candidato B\n3. Candidado C\n4. Candidato D\n6. Voto en Blanco\n'))

  if votoEmpleado == 1:
    voto1 += 1
  elif votoEmpleado == 2:
    voto2 += 1
  elif votoEmpleado == 3:
    voto3 += 1
  elif votoEmpleado == 4:
    voto4 += 1
  elif votoEmpleado == 6:
    voto6 += 1
  else:
      voto5 += 1

print('\nTOTAL DE VOTOS:\nCANDIDATO A: {}\nCANDIDATO B: {}\nCANTIDADO C: {}\nCANDIDATO D: {}' .format(voto1, voto2, voto3, voto4))
print('\nVOTO NULO: {}   Porcentaje: {}%\nVOTO EN BLANCO: {}   Porcentaje: {}%' .format(voto5, (voto5/20)*100, voto6, (voto6/20)*100))

Empleado #1
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
2

Empleado #2
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
3

Empleado #3
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
4

Empleado #4
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
5

Empleado #5
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
4

Empleado #6
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
2

Empleado #7
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
5

Empleado #8
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
3

Empleado #9
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
6

Empleado #10
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
4

Empleado #11
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
3

Empleado #12
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
2

Empleado #13
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
1

Empleado #14
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
3

Empleado #15
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
5

Empleado #16
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
2

Empleado #17
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
5

Empleado #18
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
6

Empleado #19
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
3

Empleado #20
Para votar escribe el numero respectivo de tu cantidato:
1. Candidado A
2. Candidato B
3. Candidado C
4. Candidato D
6. Voto en Blanco
2

TOTAL DE VOTOS:
CANDIDATO A: 1
CANDIDATO B: 5
CANTIDADO C: 5
CANDIDATO C: 3

VOTO NULO: 4   Porcentaje: 20.0%
VOTO EN BLANCO: 2   Porcentaje: 10.0%

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[0])

str

In [ ]:
type(lista[1])

float

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
type(lista[-1])

bool

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1] + lista[2] + lista[3])/3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

In [ ]:
len(lista)

5

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [ ]:
lista[3:]

[9.7, True]

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0, 8.0, 9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = {'llave_1':1, 'llave_2':2}

diccionario

{'llave_1': 1, 'llave_2': 2}

In [ ]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {
              'matricula': 2000168933,
              'dia_registro': 25,
              'mes_registro': 10,
              'grupo': '2E'
              }
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante['matricula']

2000168933

In [ ]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo'] = '2G'

estudiante['grupo']

'2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [ ]:
for llave,valor in estudiante.items():
  print(llave, '--->', valor)

matricula ---> 2000168933
dia_registro ---> 25
mes_registro ---> 10
modalidad ---> EAD

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

In [ ]:
#1

gastosPapel = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

sumaGasto = sum(gastosPapel)
cantidadGasto = len(gastosPapel)

print('El promedio de los gastos fueron: {}' .format(sumaGasto/cantidadGasto))

El promedio de los gastos fueron: 3144.222

In [ ]:
# 2

sobrePaso = 0
for i in range(0, cantidadGasto):
  if gastosPapel[i] > 3000:
    sobrePaso += 1

print('Se realizaron {} compras por encima de 3000 reales, por ende representa un {}% con respecto al total de las compras' .format(sobrePaso, (sobrePaso/cantidadGasto)*100))

Se realizaron 7 compras por encima de 3000 reales, por ende representa un 70.0% con respecto al total de las compras

In [ ]:
# 3

listaNumeros = []

for i in range(1, 6):

 listaNumeros.append(int(input('Escribe un numero: ')))

print('\n',listaNumeros)

Escribe un numero: 4
Escribe un numero: 2
Escribe un numero: 5
Escribe un numero: 3
Escribe un numero: 2

 [4, 2, 5, 3, 2]

In [ ]:
# 4

listaNumeros = []

for i in range(1, 6):

 listaNumeros.append(int(input('Escribe un numero: ')))

print('\n',listaNumeros[::-1])

Escribe un numero: 1
Escribe un numero: 2
Escribe un numero: 3
Escribe un numero: 4
Escribe un numero: 5

 [5, 4, 3, 2, 1]

In [13]:
# 5

numeroLimite = int(input('Escribe el limite de un numero entero, para hacer una lista de numeros primos: '))

print('\nNumeros Primos:\n')
for i in range(2, numeroLimite+1):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
      print(i)

Escribe el limite de un numero entero, para hacer una lista de numeros primos: 23

Numeros Primos:

2
3
5
7
11
13
17
19
23

In [3]:
#6

listadia = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
listaMes = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
print('Escribe una fecha para valirdarla\n')
dia = int(input('Escribe el dia: '))
mes = int(input('Escribe el mes: '))
año = int(input('Escribe el año:'))

SyntaxError: invalid syntax (<ipython-input-3-ae67f36756be>, line 4)